[2014-04-24 07:40] extemporalgenome opened #1 "License"
Please specify a source code license, if you intend for others to be able to use your code.

[2014-06-15 11:41] klauspost opened #2 "Create Merge/Patch"
Would it make sense to have a function that can create a merge/patch by comparing a base/changed document. I would imagine it could be done rather easily with the existing code.

[2014-08-03 22:56] jkodumal opened #3 "Bug in isArray implementation"
The body of `isArray` is as follows:

[code]

This seems innocuous enough, but the `break` is defined to be a break on the `switch` statement, not the `for` loop. This means that calls to `isArray` will always return true if there's a `[` _anywhere_ in the JSON document.

[2014-09-02 19:56] #2 closed, assigned to nobody

[2014-09-05 15:38] #3 closed, assigned to nobody

[2014-11-10 17:24] #1 closed, assigned to nobody

[2014-11-26 19:22] yanfali opened #9 "Is there a good way to specify only a subset of operations is enabled?"
Is anyone working on a way to specify which operations were supported by which fields of a document. Would that violate the RFC? mholt/binding has this concept of a FieldMap where different options can be specified per field in a data structure.

Would there be any interest in adding something similar to json-patch?

e.g.

type User struct {
    Name string
    Hobbies []string
}

func (u *User) F

[2015-01-12 22:54] evanphx commented on #9
The RFC doesn't cover that, it treats all fields the same, in terms of their type determining the operations only.

[2015-01-12 22:54] #9 closed

[2015-09-14 18:24] alizx opened #15 "panic instead of returning an error"
most of the when pointing to non existing propertis and malformated the patch json cause a panic instead of returning an error.
here are some examples :
this the doc before any patch
{
"creation_date":"2015-09-14T13:21:48.82+04:30",
"host_id":"55f68aa42bdf2711fe000001",
"identifier":"host1",
"key":"host",
"now_playing":null,
"owner":{
"uuid":"1dd60c63-1a49-492b-8298-980d6f1b8e9c",
"username":"ali"

[2016-01-15 21:27] jkodumal opened #17 "Replace does not work for array members"
Consider the following JSON:

[code]

and this patch:

[code]

The resulting JSON object should be:

[code]

Currently, this library returns:

[code]

The problem is that the `set` implementation in `partialArray` is not actually a `set`-- it's an `append`. I've got a proposed PR for this.

[2016-01-15 21:44] jkodumal opened #18 "Move / replace operations should fail if origin does not exist"
According to RFC 6902, a `move` operation should fail if the `from` location does not exist. The spec also states that a `replace` operation should fail if the `path` does not exist.

My testing shows that neither of these errors are caught at the moment.

[2016-01-22 23:09] rengawm opened #21 "When producing a merge patch, arrays within objects will always be considered different even if they're not"
Given this JSON object:
[code]

If I pass that object as both the original and new object to CreateMergePatch, it will return a non-empty merge patch containing the whole object (although if there were additional top-level values which were identical and not arrays, they would be eliminated correctly)

This is due to lack of handling of arrays being within objects in `matchesValue`. PR #20 fixes t

[2016-01-23 22:26] evanphx commented on #15
Fixed in PR. Thanks!

[2016-01-23 22:26] #15 closed

[2016-01-23 22:27] evanphx commented on #21
Fixed in PR. Thanks!

[2016-01-23 22:27] #21 closed

[2016-04-07 02:51] #17 closed

[2016-04-07 03:02] #18 closed

[2016-05-05 13:37] 0x777 opened #23 "Unescaping '~1' and '~0' in path?"
They are used to escape `/` and `~` respectively in the path ([ref](http://jsonpatch.com/)). Does the library handle this?

[2016-06-06 12:15] jimmidyson commented on #23
I've been trying to use JSON patch with Kubernetes that uses this library to apply patches & am hitting this issue. Should be a pretty simple fix hopefully, will look if I get time.

[2016-06-06 12:28] 0x777 commented on #23
@jimmidyson That would be great. Even I've hit this issue when patching k8s resources.

[2016-06-07 00:24] #23 closed

[2016-08-09 12:20] cvallance opened #32 "Removing other properties"
This library was working fine for the code below, but it's started to remove / delete other properties on an object.

**Patching code**
[code]

**User object**
[code]

**Patch**
[code]

**Result**
[code]

**Expected**
[code]

Sorry, I don't have time to test it myself right now. I'll can have a look tomorrow night if need be.

[2016-08-10 01:38] cvallance commented on #32
Ok, this was my issue... I had changed the json marshalling for `db.User`. Sorry!

[2016-08-10 01:38] #32 closed

[2016-10-26 06:16] lidajia opened #33 "according to RFC6902 JSON patch，move operation should identical to a "remove" operation on the "from" location, followed immediately by an "add" operation at the target location with the value that was just removed"
in this pkg,  RFC6902 JSON patch deal 'move' operation with remove "from" path, and use the "from" value to replace the target value. this did not follow RFC6902 JSON patch define

[2017-02-10 23:34] asac opened #37 "RFC 6902 escaping in merge.go"
Hi,

maybe I missed something, but isn't the patch.go about RFC6902 patches while merge.go is about RFC7xxx ?

If so, why do we escape "/" like in RFC 6092 in merge.go?

Thanks

[2017-03-14 17:12] binodluitel opened #38 "Unexpected kind: copy"
Are we going to support [copy](https://tools.ietf.org/html/rfc6902#section-4.5) operation?

[2017-03-14 21:22] evanphx commented on #38
Merged your PR!

[2017-03-14 21:22] #38 closed

[2017-03-16 20:08] binodluitel commented on #38
Thanks

[2017-03-16 20:12] binodluitel opened #40 "Replace for PATCH doesn't seem to be working as per rfc6902"
I am trying to use [replace](https://tools.ietf.org/html/rfc6902#section-4.3) and as per rfc6902 `The target location MUST exist for the operation to be successful.`
When I do that:
[code]
I am getting
[code]
where I expected it to fail because doc do not have `/first_name`

If anyone can confirm it is a bug, I can open a PR

[2017-03-16 23:10] #40 closed

[2017-05-24 18:46] asac commented on #37
any insights?

[2017-05-27 22:12] evanphx commented on #37
@asac Any tests for the change in your fork? I'm not sure what behavior you're looking that is wrong?

[2017-05-28 03:58] #37 closed

[2017-07-04 15:22] clagraff opened #43 "Cannot add to array using negative index."
I am running `go version go1.7.3 darwin/amd64` with the latest of `evanphx/json-patch`.

## The bug

Currently, if I try to use the `add` operation to append to an array, specifying a **negative index**, I get a runtime panic.

This is what [RFC 6902, Section 4.1](https://tools.ietf.org/html/rfc6902#section-4.1) has to say about negative indexes during an `add` operation:

## The code
Here is the

[2017-08-04 13:54] clagraff commented on #43
This has been resolved. Thanks.

[2017-08-04 13:54] #43 closed

[2017-11-28 22:41] rwestlund opened #47 "Use semver tags"
I'd be nice to have semver tags (e.g. v1.0.0) so I can pin by version rather than hash.  And so that I know what to expect when I update.

[2018-03-19 18:37] bechtoldt opened #51 "implement softfail"
I'm try to use json-patch to normalize json objects since the input json objects can be very different, e.g. some fields are set, some aren't.

When using op remove or replace json-patch fails and terminates because it failed to apply the patch. I'd like to ignore this kind of error (mapping with a specific key doesn't exist), so all other patches will be applied anyway.

[2018-03-19 19:12] evanphx commented on #51
@bechtoldt You'd probably be best copying this code into your own repo and then editing it to match the semantics you neeed.

[2018-03-21 20:07] clagraff commented on #47
I would second this @evanphx ✔️

This would enable everyone to use tools like [gopgk](https://labix.org/gopkg.in) or [go dep](https://github.com/golang/dep) for managing json-patch as a dependency more easily, as they could then be able to specify specific versions they would like to use.

Plus, then there can be less worry about backword-breaking being merged in and affecting everyone, similar to

[2018-03-22 03:36] evanphx commented on #47
I guess it doesn't hurt. I'll just bump it at random times then 😄

[2018-03-22 03:37] evanphx commented on #47
I added master as 3.0.0

[2018-03-22 03:37] #47 closed

[2018-03-22 16:23] clagraff commented on #33
I know this is an old comment. If I understand it correctly, @lidajia is suggesting that the `move` operation was not providing the same result as the equivallent `remove` + `add` operations.

This no longer seems to be an issue.
Here is the code I used to test, as well as the result:

[code]

When ran, it produces the following:
[code]

[2018-03-28 17:32] #51 closed

[2018-04-19 10:14] #33 closed

[2018-04-19 10:30] lidajia commented on #33
if json path /foo was an array:
{"op": "move", "from": "/foo/0", "path": "/foo/1"}
vs
{"op": "remove", "path": "/foo/0"},
{"op": "add", "path": "/foo/0", "value": "bar"}

[2018-05-05 03:38] ernsheong opened #54 "Applying Merge Patch"
README talks about creating a merge patch, but does this library support applying the merge patch?

p.s. by merge patch I mean `{"height":null,"name":"Jane"}` and not `{"op": "replace", "path": "/name", "value": "Jane"}`.

[2018-05-05 05:28] ernsheong commented on #54
It appears that `jsonpatch.MergePatch` does this but README fails to highlight it, so maybe README needs an update.

[2018-05-08 21:17] clagraff commented on #54
Hi @ernsheong
If you happen to have a minute, can you let me know if this pull request addresses your issue?
https://github.com/evanphx/json-patch/pull/55

I've updated a section to now provide a more an explicit example for creating and applying a merge patches to the readme.

[2018-05-09 06:09] ernsheong commented on #54
@clagraff excellent! I would suggest to also edit the main description of the project:

Example:
- https://github.com/evanphx/json-patch/pull/55/files#diff-04c6e90faac2675aa89e2176d2eec7d8R3 (`... as well as generate *and apply* merge-patches`)
- https://github.com/evanphx/json-patch/pull/55/files#diff-04c6e90faac2675aa89e2176d2eec7d8R6 (`... as well as create *and apply*`

[2018-05-09 13:28] clagraff commented on #54
Thanks for the suggestion. When I have a moment I will see about changing it in my pr 👍

[2018-05-09 19:57] clagraff commented on #54
Hey @ernsheong, would something like the following be better for the project description?

[RFC6902 JSON patches](http://tools.ietf.org/html/rfc6902) against documents, as well as for calculating & applying
[RFC7396 JSON merge patches](https://tools.ietf.org/html/rfc7396).

[2018-05-10 15:46] evanphx commented on #54
Merged #55 to deal with this!

[2018-05-11 00:52] ernsheong commented on #54
Closing this!

[2018-05-11 00:52] #54 closed

[2018-05-15 08:58] seddonm1 opened #56 "Creating RFC6902 Patch Documents"
Hi,
Is there a plan to create the RFC6902 patches as well as applying them? There are a few libraries floating around and this looks to be the most mature so having a canonical implementation of both 6902 and 7396 would be great.

[code]

[2018-05-16 16:51] clagraff commented on #56
Hi @seddonm1

Would you by chance have an example of _how_ you'd like to interact with `jsonpatch` in creating RFC6902 patches?

[2018-05-19 04:32] seddonm1 commented on #56
Hi,
i was thinking that you would have a `CreateMergePatch` method for RFC7396 (existing) and a `CreatePatch` method for creating RFC6902 patches?

[2018-07-10 13:14] slok commented on #56
Hi!

It this planned to be implemented in a near future?

For example, at this moment some parts of Kubernetes apiserver like the admission webhooks only [allow](https://github.com/kubernetes/api/blob/8be2a0b24ed0dac9cfc1ac2d987ea16cfcdbecb6/admission/v1beta1/types.go#L90) `RFC6902` patches, that's why this feature would be interesting.

Thank you!

[2018-07-10 14:42] clagraff commented on #56
Hi @slok ,
Thanks for the bump.

Any thoughts @evanphx ?

Honestly, it slipped under my radar and I've forgotten about this. 😞 Oops.

I will take a look this week, and see what it'd take to do this. Unless someone else wants to tackle this, I'll see what I can do.

[2018-07-10 22:17] evanphx commented on #56
This is not planned but I'm happy to review a PR on it!

[2018-07-10 22:17] #56 closed

[2018-09-07 22:07] philips opened #63 "create new release?"
Could you create a new bug fix release because of https://github.com/evanphx/json-patch/pull/62/files

It would be a shame for people to use the v3 tag and miss such an important issue.

[2018-09-07 22:16] evanphx commented on #63
Ah yes. Oops! Thanks for the ping.

[2018-09-07 22:18] evanphx commented on #63
Added! https://github.com/evanphx/json-patch/releases/tag/v4.0.0

[2018-09-07 22:18] #63 closed

[2018-09-12 17:51] lavalamp opened #65 "Negative indexing not allowed by spec?"
JSON Pointer spec doesn't mention negative indexing: https://tools.ietf.org/html/rfc6901#section-4

JSON Patch spec claims it uses JSON Pointer notation for the path: https://tools.ietf.org/html/rfc6902#section-4

Yet this library appears to permit negative indexing. Can this be removed or turned off?

[2018-09-12 20:08] evanphx commented on #65
It was previously requested and I felt it didn't do any harm in allowing it. Is there a reason you want it turned off?

[2018-09-12 20:11] evanphx commented on #65
I see your link from k8, and the issue is that it's non-standard and you don't want to have to support non-standard options forever, that's fair. Let me see about adding a way to turn it off.

[2018-09-12 20:12] lavalamp commented on #65
Yes, that's it exactly. Thanks for considering.

On Wed, Sep 12, 2018 at 1:11 PM Evan Phoenix <notifications@github.com>
wrote:

[2018-09-12 20:30] lavalamp commented on #65
Wow, thank you very much!

On Wed, Sep 12, 2018 at 1:23 PM Evan Phoenix <notifications@github.com>
wrote:

[2018-09-12 20:35] lavalamp commented on #65
Filed https://github.com/kubernetes/kubernetes/issues/68578 so we'll pick this up.

[2018-10-03 20:39] Loushu commented on #18
This issue should be reopened, as "replace" operation still doesn't fail if "path" doesn't exist.

[2018-10-03 20:41] evanphx commented on #18
@Loushu Can you give me an example of a document and patch that should work but doesn't?

[2018-10-03 21:36] Loushu commented on #18
@evanphx I'm trying to "replace" a value at a path that doesn't exist. Instead of failing the operation succeeds and "add"s a value at the path. Example:
Document:
{ "Metadata": {	} }
Patch:
[
  {
    "op": "replace",
    "path": "/Metadata/key1",
    "value": "val1"
  }
]
Expected result is a failure to apply patch since key1 doesn't exist
Actual result: {"Metadata":{"key1":"val1"}}

[2018-11-26 21:49] njhugs opened #67 "Test Entire Document"
Does this library support testing an entire JSON document by specifying a root "/" path? I see that it works for replace. If we can't currently test against root "/", is that something folks would be interested in me opening a PR for?

[2018-11-26 21:59] evanphx commented on #67
Can you give me an example?

[2018-11-28 20:23] njhugs commented on #67
@evanphx absolutely. If I have this JSON document that I want to test against:

`{"field1": 1, "field2": "2"}`

And I do something like this:

`{
    "patch": [
        {"op": "test", "path": "/, "value": {"field1": 1, "field2": "2"}}
    ]
}`

Should that be a successful test?

[2018-12-14 09:55] pytimer opened #68 "Apply JSON Patch failed"
Hi, all

I want to use `JSON Patch` to add a name is `injector.test.io/status` key into the json document, but it failed.

error logs:
[code]

But i rename this key is `injector.test.io.status`, it works well.

I want to know how to do if want to add similar to `xx/yy` key into json document? Thanks.

Below is my demo code:

[code]

[2018-12-20 04:54] evanphx commented on #68
Because you're trying to use / in the keys themselves, it's really confusing the JSON patch code. I'm not sure how you'd do this as the RFC doesn't really make it possible. The easiest thing might be to use a merge patch. That's where you just specify the subset that you want to change and call `jsonpatch.MergePatch`. The RFC is here https://tools.ietf.org/html/rfc7396.

[2018-12-20 04:54] #68 closed

[2018-12-22 03:55] own-idea opened #69 "move op for array, the result is not correct"
hello，move op should do same thing with remove op and add op, but i found the result is incorrect in some case. original document array has four elements, but after move op, only three elements if from index is the last index. demo is here, please check it, thanks
[code]

[2018-12-22 15:35] pytimer commented on #68
Thanks for you reply. I will try `jsonpatch.MergePatch`.
I'm beginner about it, so the idea may not be right.

[2018-12-24 06:52] DoubleFaults commented on #69
hi, imho, this behavior is good to me, it just likes `mv` command in Shell

for your situation, it might be

[code]
hope this helps

[2018-12-24 07:17] own-idea commented on #69
but the move op should be a remove op and add op, so the result should be four elements, right? if move from /env1 to /env/3, then the result is four elements.

[2018-12-24 08:14] DoubleFaults commented on #69
Yes, You're right.

I read the codes and found there may be a mistake:

[patch.go#L367~L373](https://github.com/evanphx/json-patch/blob/master/patch.go#L367~L373)

I think it should be

[code]

[2019-03-07 17:10] Liujingfang1 opened #75 "Add line number when error happens"
Got following error
[code]
when applying the syntax.
[code]
It would be nice to have the line number when the error happens.

[2019-03-07 17:45] donbowman commented on #75
see below to reproduce. Note the missing `-` on the end of `path`.

doc.json:
[code]

patch.json:
[code]
[code]

[2019-04-08 05:27] fejta opened #76 "Please create a newer release that includes #74"
Kubernetes now depends on https://github.com/evanphx/json-patch/pull/74 however the latest tagged release, 4.1.0 does not yet have this commit.

The go module system will not choose a commit after the latest tagged release, requiring a replace stanza.

This will cause modules using github.com/evanphx/json-patch and k8s.io/apiserver to require a replace stanza

/cc @caesarxuchao @evanphx

[code]

r

[2019-04-25 09:35] benitogf opened #77 "generate operations patch"
would be nice to be able to generate patches as per https://tools.ietf.org/html/rfc6902

some ideas on it here:  https://github.com/mattbaird/jsonpatch/issues/19

Thanks 🏭

[2019-04-29 16:06] evanphx commented on #77
Generating operations patches are outside the scope of this package.

[2019-04-29 16:06] #77 closed

[2019-04-29 16:09] evanphx commented on #76
Sorry about that! Pushed a release just now.

[2019-04-29 16:09] #76 closed

[2019-04-29 16:11] evanphx commented on #75
Ironically your reproduction doc is only one line. :D

[2019-05-15 04:23] fejta commented on #76
Thanks so much! 😻

[2019-05-23 02:52] jerreli opened #78 "according to RFC6902 JSON patch, replace operation should fail if path not exist before"
This issue is the same as the previous issues(#18 and #40).
According to RFC6902 JSON patch, replace operation should fail if path not exist before. From issue#40, the auther may have merged updated code. But now when I compare codes in branch master or tag 4.2.0, I find that the place that should be updated is not updated. Does the author have other concerns? Expect the author to update the code

[2019-05-29 09:25] herkyl commented on #56
I'm happy to provide a monetary bounty to anyone interested in building this.

[2019-05-29 09:59] herkyl commented on #77
@evanphx should patch generation go into a new project then? Or would you still be interested in a PR?
The way I see it (as an end user) it does make sense for this project to also generate these patches, as it can already consume them.

[2019-06-05 18:20] utako opened #80 "extend patch to be able to filter arrays on values"
Do you have any interest in extending json-patch to be able to filter on values? e.g. if you have the original json:

[code]
and the patch:
[code]
with the patch applied, the json would be:
[code]

[2019-06-06 15:41] evanphx commented on #80
If it's not in the RFC, then it shouldn't be in this package. Two reasons: 1) I'm trying to limit the scope of this package and have it be "finished". 2) adding that kind will be very unexpected by lots of users so will require conditions to activate, etc. That tells me it's best for another package.

[2019-06-06 15:41] #80 closed

[2019-06-10 23:46] #75 closed

[2019-06-10 23:46] evanphx commented on #75
I can't extract the line number but that commit will now report more about what failed to help diagnose the issue.

[2019-06-10 23:52] evanphx commented on #78
That code doesn't work, it will fail things that should pass today. Can you provide an example of a patch that doesn't work right?

[2019-06-11 00:01] evanphx commented on #69
There is a test case for this that passes fine, namely moving an entry in an array to a different position. Could you retest with the latest release?

[2019-06-11 00:02] evanphx commented on #67
Sure, you can patch / just like an other object.

[2019-06-11 00:02] #67 closed

[2019-06-21 15:07] lucab commented on #69
If I'm reading this correctly, https://github.com/evanphx/json-patch/pull/73 (part of 4.2.0) should have fixed exactly this.

[2019-06-24 12:48] cyantarek opened #81 "Is there any way to use json object or nested json object as "value" instead of plain string?"

[2019-06-24 17:16] evanphx commented on #81
Not sure what you mean, is what you're asking for described in the RFC?

[2019-06-25 01:43] cyantarek commented on #81
Got it working man, thanks.

[2019-06-25 01:43] #81 closed

[2019-06-29 10:38] herkyl commented on #56
For the people who stumble upon this issue, I wrote a [Go library for creating RFC6902 Patch Documents](https://github.com/herkyl/patchwerk).

You can create patches using Patchwerk and apply them using evanphx/json-patch.

[2019-07-10 13:43] zachelrath opened #82 "Support use of different JSON library"
We heavily use https://godoc.org/github.com/json-iterator/go as an alternative to the standard `encoding/json` library, because of capabilities it provides that the standard library does not (e.g. sorting of map keys), as well as performance. We would like to be able to configure `json-patch` to use a different JSON library for `Marshal()` and `Unmarshal()` calls.

If `json-patch` defined a public

[2019-08-14 16:17] liggitt opened #86 "Paths without a leading `/` are silently accepted"
The JSONPatch library splits the path by / and discards the first segment, assuming it is empty:

https://github.com/evanphx/json-patch/blob/cb8f3b5f9db3c390f2cdf6e67f7e6ea3b339a197/patch.go#L338-L344

This means that an operation with a patch like `bogus/path/to/item` will successfully apply to `/path/to/item`

Seen in https://github.com/kubernetes/kubernetes/issues/81422

Before fixing this, we

[2019-08-14 17:05] liggitt commented on #86
Per https://tools.ietf.org/html/rfc6901#section-3:

Per http://jsonpatch.com/#json-pointer:

In addition to incorrectly accepting "bogus/...", looking briefly at the testcases, it doesn't look like "" or "/" are handled properly either.

Again, any changes should consider the behavior change impact on currently accepted patches

[2019-08-14 18:04] evanphx commented on #86
Good catch! So because the current behavior is pretty weird and probably not useful, it's pretty safe to assume we won't be breaking compatibility by just rejecting paths that don't have a leading `/`.

[2019-08-14 19:10] liggitt commented on #86
you underestimate how much people thrash to get a patch applying (c.f. https://github.com/kubernetes/kubernetes/pull/81381#discussion_r313780676) :)

[2019-08-15 04:20] evanphx commented on #86
Ooof. I guess it makes sense that they'd trash around and find out you can put garbage on the beginning. I don't want to make life harder for package users, but do want to just fix this obvious bug. I'm open to all options, including a configuration flag to configure the proper behavior so folks can opt in safely.

For kubernetes, if you want to retain the current, buggy behavior, either you could

[2019-08-17 00:02] wrosenuance opened #88 "Equal function segfaults if JSON value is null"
When comparing objects using `jsonpatch.Equal`, comparisons of objects recurse to compare values. However, if either value is null (but not both), the code tries to dereference null and causes a segmentation fault.

The following code triggers the bug in v4.5.0, the issue seems to be that the recursive call to equal should first check if the one of the value is nil. See [patch.go line 216](https:/

[2019-08-19 13:35] liggitt commented on #86
I looked *really* hard for examples of mistaken patches like `foo/bar` used against the kubernetes API and couldn't find any. I think erroring on that case is reasonable.

Tests should probably also be added for these special cases:
* `""` (root object)
* `"/"` (the `""` property at the root)
* `"/foo/"` (the `""` property in the "foo" property)

[2019-08-19 16:23] evanphx commented on #86
Totally agree. I'll get this coded up into a PR for you to review shortly.

[2019-08-29 00:38] caesarxuchao commented on #65
Hi @evanphx, can we make the default value to be false in v5? After all, the negative indices support is not a standard behavior.

[2019-09-11 17:14] Loushu commented on #78
`package main

import (
	"fmt"
	"github.com/evanphx/json-patch"
)

func main() {
	original := []byte(`{ "Metadata": {	} }`)
	patchJSON := []byte(`[
		{"op": "replace", "path": "/Metadata/key1", "value": "val1"}
	]`)

	patch, err := jsonpatch.DecodePatch(patchJSON)
	if err != nil {
		panic(err)
	}

	modified, err := patch.Apply(original)
	if err != nil {
		panic(err)
	}

	fmt.Printf("Original docum

[2019-10-03 14:56] Arnold1 opened #91 "jsonpatch"
hi,

i have two json struct like the following, which are equal (only the order of keys is shifted). why is  jsonpatch.Equal not returning true?

[code]

if not how can I make it work?

[2019-10-08 17:45] clagraff commented on #91
Hi. I took a quick [peak at the code](https://github.com/evanphx/json-patch/blob/master/patch.go#L233), and it looks like it when it is comparing two array values, it goes index by index. So the order would matter.

In your example for the first element in `SelectedData`, the `s1` object where `{"ID": 5 ...}` would be compared to `s2`'s `{"ID"; 1 ...}` which obviously wouldn't match up.

So while

[2019-10-08 17:56] clagraff commented on #91
Hi again! I noticed that your example JSON is actually malformed.

You have:
[code]

but it should actually be:

[code]

Note the missing braces at the start and end.

In the event that you call `jsonpatch.Equal` with something that isnt _really_ json, it does a byte comparison. In which case your two strings (not _objects_) are entirely different.

That said, even if it were fixed, the ordering o

[2019-10-08 18:06] clagraff commented on #91
Does that help at all?

[2019-10-22 01:43] xunpan opened #92 "add op for a patch does not work as expected for adding new member"
According to https://tools.ietf.org/html/rfc6902#page-12:
[code]
It shows if there is no key `baz`, it will be created for `add` op.

However, it seems not work with `json-patch`. I'm working on `kubefed` project, I use below patch
[code]
The `add` result shows `add operation does not apply: doc is missing path: "/metadata/annotations/foo": missing value`

I checked code https://github.com/evanphx

[2019-11-03 18:14] #91 closed

[2019-11-03 18:14] evanphx commented on #91
@clagraff Thanks for answering the question, yes, it's strict in order.

[2019-11-05 14:31] liggitt commented on #86
Thanks, sounds good

[2019-11-17 15:34] marcelometal commented on #77
hi @evanphx,

sorry to bother you, but why generating operations patches are outside the scope of this package?

[2019-11-18 00:09] evanphx commented on #77
@marcelometal Because I don't want to enlarge the surface area of this package any more.

[2019-11-19 16:58] herkyl commented on #77
I'm still using evanphx/json-patch but wrote my own library to generate the patches, check it out: https://github.com/herkyl/patchwerk

[2019-12-03 01:38] matbhz commented on #86
Azure AD will send `PATCH` requests for the SCIM protocol in this format:

[code]
(without the leading `/`)

How can we support this case, which seems to contradict what's expected from Kubernetes API?

[2019-12-03 01:46] liggitt commented on #86
That's not a valid patch path, does it?

[2019-12-03 01:59] matbhz commented on #86
@liggitt after reading and learning more about the RFC6902 it definitely looks like the case. I don't think I have an alternative on Azure side of things though. It looks very odd to me that they're sending wrong requests that do not respect the standard... I'll keep researching for alternatives 😢

[2019-12-03 02:12] liggitt commented on #86
Yeah, it's definitely invalid. The path is a jsonpointer, which is defined as "zero or more segments each prefixed with /"

[2019-12-17 05:45] own-idea commented on #69
test passed in v4.2.0  @evanphx thanks

[2019-12-17 05:46] #69 closed

[2020-02-05 00:14] BenTheElder opened #98 "invalid v > 1 go module"
Since this is tagged as v4.X and has a go.mod, the import path must be `github.com/evanphx/json-patch/v4` including in the `module` directive and in any code importing packages across the repo and externally.

https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher

Trying to import v4.6.0 from a project using go modules does not work without this, v4.5.0+incompatible is the last

[2020-03-26 03:45] #88 closed

[2020-03-26 03:48] evanphx commented on #98
Sorry to let this sit for so long. Please feel free to submit a PR to change to `/v5` and bump the version to that. That way it's a clear break.

[2020-03-26 20:38] vtolstov commented on #98
@BenTheElder what you say?

[2020-03-26 20:40] BenTheElder commented on #98
Hi @evanphx thanks for the response :-)

No worries, I'll get on drafting a PR :-)

[2020-03-26 21:52] BenTheElder commented on #98
filed https://github.com/evanphx/json-patch/pull/100, but there are some outstanding questions there about how we want to handle it (e.g. travis needs to use at least one more recent go version, which ones?).

[2020-03-26 22:11] evanphx commented on #98
Thanks @BenTheElder for getting this sorted out!

[2020-03-26 22:11] #98 closed

[2020-04-30 18:05] saurabhaditya opened #101 "Please support creating a json patch from two jsons"
Currently only creating json merge patch is supported. Would be great if we can create a json patch from two jsons.

[2020-05-10 15:34] vulcanfan opened #102 "'go get' fails"
Hi,
Tried the 'go get' in the README but I just the response as below:
[code]
Getting v5 gives a similar error.
What am I doing wrong?
Many thanks

[2020-05-10 17:36] georgreen commented on #101
@saurabhaditya Found this, looks promising. https://github.com/herkyl/patchwerk

[2020-05-14 00:52] palourde commented on #102
@vulcanfan I believe you could do `go get github.com/evanphx/json-patch/v5` and import it as `jsonpatch "github.com/evanphx/json-patch/v5"`.

[2020-05-18 17:04] evanphx commented on #102
Yes, we should probably update the README to indicate using the directory for the proper version now.

[2020-05-18 17:05] evanphx commented on #102
Ok, fixed the README.

[2020-05-18 17:05] #102 closed

[2020-05-18 17:58] evantorrie commented on #86
I've run into this too.. particularly the rejection of `""` as a valid path (i.e. the whole document).

Any progress on this?

[2020-06-10 15:19] cwdsuzhou opened #106 "Remove may cause invalid index error"
Test code as follow
[code]

this error happen occur
[code]

[2020-06-28 06:59] zuzuviewer opened #110 "patch failed"
go version：go1.13.5 windows/amd64

`jsonpatch.DecodePatch(patch)` ,patch is some data. always return err:

`json:cannot unmarshal object into Go value of type jsonpatch.Patch`.

It seems golang'json can't deal with jsonpatch.Patch type

[2020-07-14 03:13] zuzuviewer commented on #110
Ok。patch must be array

[2020-07-14 03:13] #110 closed

[2020-08-06 17:45] jbsolomon-fw commented on #86
Same -- `""` is a common case.

[2020-08-08 04:05] evanphx commented on #101
I'd like to avoid adding that functionality to this package because it would only add to the maintenance complexity.

[2020-08-08 04:05] #101 closed

[2020-08-08 04:06] evanphx commented on #86
Dropped the ball on this one, need to get back to it.

[2020-08-08 04:13] evanphx commented on #106
As I mentioned in #107 I think your code is assuming incorrectly. You should delete /1 and then /1 again or reverse the order.

[2020-08-08 04:19] evanphx commented on #78
Closed as stale.

[2020-08-08 04:19] #78 closed

[2020-08-08 04:20] evanphx commented on #82
Closing as I've opt'd to close #83 as well.

[2020-08-08 04:20] #82 closed

[2020-08-08 04:22] evanphx commented on #92
According to the RFC section A.12, we're doing the correct thing as you're attempting to add to a nonexistent object in annotations.

You have to add each part of the path first.

[2020-08-08 04:22] #92 closed

[2020-09-21 08:01] kolomnik opened #114 "Panic on Apply of op:test with non existing attribute"
Hello,

I have tried to apply following patch:

`[{"op":"test","path":"/missingAttr"}]`

on json:

`{"intAttr":10,"strAttr":"string"}`

And it resulted in panic:
_runtime error: invalid memory address or nil pointer dereference:_

With stack:
_/usr/local/go/src/runtime/panic.go:679
runtime.panicmem
/usr/local/go/src/runtime/panic.go:199
runtime.sigpanic
/usr/local/go/src/runtime/signal_unix.go:394

[2020-10-01 22:09] vassilvk opened #115 "Introduce AllowMissingPathOnRemove"
This is a proposal for a new package-level flag `AllowMissingPathOnRemove`.
When this flag is set to `true`, JSON-Patch `remove` operations do not fail when the target `path` is missing from the container being patched.
The value of `AllowMissingPathOnRemove` defaults to `false` to maintain backward compatibility with previous functionality.

## Reasoning
The current implementation fails the entir

[2020-10-01 22:10] vassilvk commented on #115
@evanphx - I will be submitting a PR for this issue soon.

[2020-10-02 00:13] evanphx commented on #115
I'd rather not continue to add these toplevel options. I think the right solution is, instead, to accumulate errors found trying to apply the patch and then return them all at once. That would allow you the ability to inspect the errors and disregard the error if they were all for removing a non-existentant path.

[2020-10-02 02:24] vassilvk commented on #115
Just to make sure I understand, are you suggesting to change the signature of `func (p Patch) Apply(doc []byte) ([]byte, error)` to `func (p Patch) Apply(doc []byte) ([]byte, []error)`?

Won’t this break existing clients?

Or are you thinking a new method?

Also, in order for this to work, it sounds like the method will be returning both a patched document and a slice of errors, so in case of erro

[2020-10-02 05:32] evanphx commented on #115
No, `Apply` would still return `([]byte, error)` but within `Apply`, we'd accumulate the errors and then return, say, a `PatchError` type that contains all the accumulated errors.

I think that the non-patch related errors like the ones returned from `json.Marshal` would be "hard" errors, returning immediately.

[2020-10-02 10:37] vassilvk commented on #115
My only concern is that changing the type of the error returned by Apply might still break existing clients who are already inspecting the type/contents of the error.

[2020-10-02 15:59] evanphx commented on #115
We'd be changing the concrete type only, the exposed type would still be `error`. No one is dependent on the concrete type returned now I doubt. And even if they are, I'm ok breaking that contract.

[2020-10-02 16:00] evanphx commented on #115
I'd be open to `ApplyWithOptions`, I think that's ok.

[2020-10-02 16:40] vassilvk commented on #115
I’ll put together a PR.

[2020-10-02 18:12] vassilvk opened #117 "Introduce ApplyWithOptions"
Implement method `func (p Patch) ApplyWithOptions(doc []byte, options *ApplyOptions) ([]byte, error)` which implements the functionality of `func (p Patch) Apply`, but takes its options from parameter `options` instead of global package-level variables.
`ApplyOptions` is a struct type which includes the following fields:
- `SupportNegativeIndices bool`
- `AccumulatedCopySizeLimit int64`
- `AllowMi

[2020-10-02 18:14] vassilvk commented on #115
Closed in favor of #117.

[2020-10-02 18:14] #115 closed

[2020-10-12 06:37] abhishekdwivedi3060 opened #119 "Replace op should error out if path doesn't exist"
Hi,

As per Json [RFC](https://tools.ietf.org/html/rfc6902), path must exist for the operation to be successful.
Refer this section from the RFC doc:
[code]

But right now if the path doesn't exist, then json-patch doesn't error out and instead `add` the specified value at the given path.

Eg:
[code]
output --> `{"age":24,"height":1.23,"name":"John"}`

Here `/height` path doesn't exist but replace

[2020-10-12 06:59] abhishekdwivedi3060 commented on #119
Looking at the json-patch code, it looks like there is an error check to catch above condition but error returned is always nil.

[code]

and the get func is
[code]

I think we can check the existence of key in the map first and accordingly return the error.
Let me know if this makes sense and I'll create a PR the same.

[2020-11-03 18:48] #117 closed

[2020-11-25 21:45] vassilvk opened #120 "Add option for more tolerant "add" which generates missing parts of "path""
Currently (and according to the JSON Patch standard) when performing "add" against a non-existent path, json-patch errors out.

That said, there are a number of use cases where it is significantly more convenient to have a single "add" automatically generate the missing parts of the path, instead of having different patches for different "missing-element" scenarios.

For example, when patching a K

[2020-11-28 00:40] #120 closed

[2020-11-28 18:12] vassilvk opened #122 "Support negative indices for replace, remove and intermediate path elements"
Currently negative indices are supported only for the last element of the `path` of an `add` operation.
Add support for negative indices for `replace` and `remove` operations, as well as for intermediate `path` elements such as `/a/b/-1/c`.

[2020-11-28 20:46] #122 closed

[2020-12-02 18:38] maeglindeveloper commented on #106
Hi everyone,
I'm facing the exact same error.
any news on this ?

@evanphx reading you, it means that we should not have 2 remove operations on the same slice, otherwise it would fail every time ? That is a strange behaviour ? It is often that multiple items in an array would be removed ?

Looking forward to hear / have a solution on this :)
Thanks in advance

[2020-12-02 23:00] maeglindeveloper commented on #106
In addition to my previous comment, here is an example that shows the issue.
https://play.golang.org/p/GCvZDepLm32

[2020-12-02 23:26] evanphx commented on #106
@maeglindeveloper when item 1 is removed, it doesn't leave a blank there, so item 2 becomes item 1. That is part of the spec. So if you want to delete them both, either delete `/1` and then `/1` again, or delete `/2` and then `/1`.

[2020-12-02 23:26] #106 closed

[2020-12-03 08:38] maeglindeveloper commented on #106
Whoa ... ok, that is a quick answer and a fast closed talk ...
thanks anyway for your time & work. I will try to find a solution to better handle this on my own.

[2020-12-16 14:51] gavinfish opened #124 "Export errBadJSONDoc and errBadJSONPatch errors for JSON merge patch"
Initial discussion at https://github.com/kubernetes/kubernetes/pull/97243#discussion_r543646677. When callers call `jsonpatch.MergePatch()` func, it is better to let them know wether the doc or patch is invalid. Export the `errBadJSONDoc` and `errBadJSONPatch` to let callers take actions when such errors occur.

[2020-12-21 23:18] vassilvk opened #126 "EnsurePathExistsOnAdd fails for missing path components of -1"
When `EnsurePathExistsOnAdd` is set to `true` and an `add` operation is performed for a non-existent path which includes `-1` in its path components, `ApplyWithOptions` fails.

This is incorrect, as `-1` for a missing path on `add` should be equivalent to `0`.
Making `EnsurePathExistsOnAdd` treat `-1` as `0` for missing paths would be consistent with executing an `add` operation with `-1`  against

[2020-12-22 00:16] #126 closed

[2020-12-31 18:03] jamesphillpotts-fr opened #128 "Ordering of object keys is not preserved"
As per https://github.com/golang/go/issues/27179, sometimes the changes in some JSON content need to be read and compared by humans, and if the content is reordered by the applying of a JSON patch this is made hard to do.

This library should make the changes specified by patches in a non-destructive way to the existing content to facilitate readability by human users.

[2021-01-05 21:20] #124 closed

[2021-01-05 22:17] #128 closed

[2021-01-20 21:21] vtolstov commented on #128
did you mind to publish release after this change?

[2021-01-21 15:42] pacoxu opened #132 ""null" values are dropped from arrays"
Open an issue for https://github.com/kubernetes/kubernetes/issues/98080

Why JSON should remove all nulls in the array?
https://github.com/evanphx/json-patch/blob/master/merge.go#L76-L89

Is there a reason, or a bug?

[2021-01-21 19:34] evanphx commented on #128
It has been released, there are newer tags with this.

[2021-01-21 21:28] apelisse commented on #132
I'm not a lawyer :-), but here's how I read the [spec](https://tools.ietf.org/html/rfc7386):
- Section [1](https://tools.ietf.org/html/rfc7386#section-1), it's arguable whether this means that items in an array should be removed, especially since arrays are supposed to be strictly replaced.

- Section [2](https://tools.ietf.org/html/rfc7386#section-2), the example algorithm replaces lists altogeth

[2021-01-22 03:03] pacoxu commented on #132
I read the spec, examples from the spec like below.
ORIGINAL | PATCH | RESULT
-- | -- | --
{"a":"b"} | {"a":"c"} | {"a":"c"}
   {"a":"b"}   |   {"b":"c"}   |   {"a":"b",  "b":"c"}
   {"a":"b"}   |   {"a":null}   |   {}
   {"a":"b", "b":"c"} |       {"a":null}   |   {"b":"c"}
   {"a":["b"]}     |      {"a":"c"}   |   {"a":"c"}
   {"a":"c"}   |   {"a":["b"]}     |  {"a":["b"]}
   ["a","b"]   |    ["

[2021-01-22 04:13] apelisse commented on #132
@pacoxu In case it's not clear, I think we agree. Lists should be replaced without editing, i.e. nulls should be preserved. And yes, the spec doesn't have a single example with a null in a list.

[2021-01-22 04:47] pacoxu commented on #132
If this is arguable, an option for this would be necessary.

Let users decide which suits their scenarios.

[2021-01-22 19:01] apelisse commented on #132
I don't think we should ever drop nulls in arrays.

[2021-01-29 22:00] srinivasj-sys opened #133 "help or suggestions required"
{"op": "add", "path": "/application/application/pages/TestPage", "value": "{"name": "TestPage", "type": "application"}"}
invalid character 'n' after object key:value pair

If I give "value" : "{\\"name\\": \\"TestPage\\", \\"type\\": \\"application\\"}" the output of
patch.apply(original, added) is

https://play.golang.org/p/6vqpy50kB0C

{
    "description": "This is description of the new solutio

[2021-02-01 01:24] evanphx commented on #133
That is invalid JSON, the patch needs to be valid JSON. You've quoted the { before name accidentally.

[2021-02-01 01:24] #133 closed

[2021-02-01 13:02] srinivasj-sys commented on #133
apologies. I should've closed it myself. I had it figured out and working.

Thanks for looking into the issue and suggesting the correct fix.

[2021-02-17 19:58] tymonx opened #134 "Proposition to improve the Operation type"
Current `type Operation map[string]*json.RawMessage` definition is... well... literally ugly.

It has several issues:
- You cannot easily create the `Patch` type by hand
- The map value contains pointer to slice bytes. That means extra unnecessary indirect jump (pointer to pointer) and allocation
- It forces user to relay on JSON library (currently the standard one) used by the project. It impacts

[2021-02-17 23:21] evanphx commented on #134
Moving Operation to being a struct I think is probably fine, but I'm unsure why the `Op` type is needed in this cleanup. Could you explain the justification for that more?

[2021-02-17 23:27] tymonx commented on #134
Simple. Auto-validation for `op` during `UnmarshalJSON`. Because many JSON libraries (including the standard one) calls the `UnmarshalText` method if available for JSON strings.

Also an integer type is faster for `switch - case` if someone want to use it. For example to filter/reject operations before call the `Apply` method. It is useful for JSON RESTful APIs.

[2021-02-18 00:11] evanphx commented on #134
Gotcha. Ok, i'd be fine with this change.

[2021-02-18 07:59] tymonx commented on #134
If you want, I can provide a Pull Request with necessary chances.

[2021-02-18 18:30] evanphx commented on #134
@tymonx Sure that would be great!

[2021-03-02 15:17] 2785 opened #136 "Can we have the unexpected operation kind error in json patch be an exported error value pls"
Use case: on a client I'd like to return a bad request error if the patch request has a invalid operation in it. I can do that now but it requires a `strings.HasPrefix` which is kind of sketch.

Would be great if that error can join its sentinel error friends and be exported :wink:

[2021-03-28 13:10] jsimnz opened #137 "Forked version with encoding/json replaced with fastjson - Copyright/License attribution"
Hi

I have recently forked your project with the goal of replacing [encoding/json](https://golang.org/pkg/encoding/json/) with [fastjson](https://github.com/valyala/fastjson). You can find the project here: https://github.com/lens-vm/jsonmerge.

I have kept the license the same but didn't did create a "Github Fork", just copied over the elements I needed.

I just wanted to check in with you to mak

[2021-04-02 12:24] zhangguanzhang opened #138 "add operation does not apply: doc is missing path: "/spec/volumes/0": missing value"
[code]

[code]

[2021-04-02 12:31] zhangguanzhang commented on #138
remove also failed
[code]

[code]

[2021-04-02 12:35] zhangguanzhang commented on #138
how to append a value

[2021-04-02 12:55] zhangguanzhang commented on #138
[code]

[2021-04-02 13:31] zhangguanzhang commented on #138
[code]
If you uncomment, it can run, but the internal value of the structure is not fixed

[2021-04-05 18:04] evanphx commented on #137
Sure, that looks fine. I'm open to figuring out how to support them together in one repo if you'd like as well.

[2021-04-05 18:20] jsimnz commented on #137
Awesome. Do you mean replacing `encoding/json` with `fastjson` all together in your repo, or making it a configurable "backend" so to speak, so the user can choose which json package they want?

[2021-04-05 19:26] evanphx commented on #137
I’d rather not have it be switchable, can you tell me about the difference
if fastjson is used?

On Mon, Apr 5, 2021 at 11:20 AM John-Alan Simmons ***@***.***>
wrote:

[2021-04-05 20:42] jsimnz commented on #137
The main reason I wanted a fastjson alternative for json-patch is for the TinyGo WebAssembly support. TinyGo doesn't support the standard `encoding/json` library due to some reflection` issues.

Fastjson's approach is to keep everything as serialized json values for as long as possible, similar to `json.RawMessage`. It only converts to a native go value if you access a field using one of the get f

[2021-04-23 10:04] masoudbahar commented on #138
I see this very same error as well, if I attempt to append to an existing array at any index (0, -, etc.).
Also appending to an object will overwrite it.
So append, in general, seems broken, from what I’ve experienced.

[2021-05-12 17:58] kacejot opened #140 "MergeMergePatches prunes `null` values, if left patch does not have such key"
The simplest example. Let's say we have two patches. One of them is empty `{}` and other is `{ "a": null }`.
In case, if we use `MergeMergePatches([]byte("{}"), []byte("{ \"a\": null }")`, we will have empty patch.
I expect that patches will concatenate and we will get `{ "a": null }`

[2021-05-12 17:59] kacejot commented on #140
We could just add a check for `mergeMerge` is set here:
https://github.com/evanphx/json-patch/blob/60af5a5e5c58c2ea0c6faf8a30246d74c7bdd158/v5/merge.go#L51

[2021-05-13 15:09] kacejot commented on #140
Here is the test that fails:
[code]

It fails with:
[code]

So `null` value is dropped.

[2021-05-16 05:44] delaneyj opened #142 "Valid JSON Patch not getting applied at Root"
Totally could be something I'm missing but I think I'm reading the spec right and check my patches via [this online validator](https://json-schema-validator.herokuapp.com/jsonpatch.jsp) with...

Patch
[code]

Data
[code]

Patch results: ***SUCCESS***
[code]

It appears to be occurring at `patch.go` line 553.  Per [the spec](https://datatracker.ietf.org/doc/html/rfc6901) pg 4

In the codebase you d

[2021-05-26 03:39] zhangguanzhang commented on #138
@evanphx PTAL

[2021-05-26 04:03] evanphx commented on #138
So I looked at the v5 version of this code and the test case you gave me currently works fine:

[code]

[2021-05-26 04:04] zhangguanzhang commented on #138
`[ { "op": "add", "path": "/spec/volumes/-", "value": {"name":"foobar"} } ]` should change to

``[ {
      "op":"add",
      "path":"/spec",
      "value":{
         "dnsConfig":{
            "options":[
               {
                  "name":"single-request-reopen"
               }
            ]
         }
      }
   },{ "op": "add", "path": "/spec/volumes/-", "value": {"name":"foobar"} } ]``

[2021-05-26 04:07] evanphx commented on #138
Ok, I figured it out. It's your first line, the add to `/spec` is wiping out the current value that has a `volumes` array.

[2021-05-26 04:08] evanphx commented on #138
If you remove that first patch line OR have that first patch line also include a `volumes` key with an array it will work.

[2021-05-26 04:09] evanphx commented on #138
Basically, the spec says that the path to the target must already exist, so it needs to be in the document already or you need to create it with a previous patch line.

[2021-05-26 04:25] zhangguanzhang commented on #138
I just want to append a data😔

[2021-05-26 15:08] evanphx commented on #138
Append works fine but the volumes key has to already exist.

On Tue, May 25, 2021 at 9:25 PM zhangguanzhang ***@***.***>
wrote:

[2021-05-26 18:49] evanphx commented on #138
Your first patch line, to add `/spec` overwrites the existing value of `/spec`. If you just want to add `dnsOptions` specify a patch to add that.

[2021-05-31 23:53] #132 closed

[2021-06-01 01:29] pacoxu commented on #132
@evanphx  would you release a new version? Thanks.

[2021-06-01 02:55] #140 closed

[2021-06-03 01:48] zhangguanzhang commented on #138
[code]
[code]

[2021-06-03 04:38] evanphx commented on #138
The error is telling you the issue. You're trying to add something to dnsConfig, but there is no object at dnsConfig to add something to. Your patch needs to add dnsConfig, then add something to it.

[2021-06-03 05:51] pacoxu opened #145 "upgrading 4.10.0 failed for semantic import versioning is required"
go mod download github.com/evanphx/json-patch@v4.10.0

No go.mod file in https://github.com/evanphx/json-patch/tree/v4.9.0
But there is a go.mod in https://github.com/evanphx/json-patch/tree/v4.10.0

[2021-06-03 05:57] zhangguanzhang commented on #138
I just want to know how to add the value not override other existing key

[2021-06-03 13:59] liggitt commented on #145
correct... only the v5 subfolder can contain a go.mod file

[2021-06-04 04:29] BenTheElder commented on #145
see previously: https://github.com/evanphx/json-patch/issues/98

[2021-06-04 04:39] evanphx commented on #145
Ack, I added go.mod stuff back in January to sort out CI stuff accidentally. I'll sort this out now.

[2021-06-04 04:52] evanphx commented on #145
Ok, I've cleaned it up and published 4.11.0.

[2021-06-04 04:53] BenTheElder commented on #145
Thanks!

[2021-06-04 05:19] pacoxu commented on #145
Thank you all.

[2021-06-04 05:19] #145 closed

[2021-07-04 18:21] delaneyj commented on #86
That assumption is breaking valid JSONPatches #142

[2021-08-17 21:40] graineri commented on #86
Would it make sense to create a new version clearly stating the breaking compatibility change?

[2021-08-18 10:54] kszafran commented on #119
This has been reported a couple of times, e.g. https://github.com/evanphx/json-patch/issues/78 I'm myself using an older fork of this repository and `replace` does indeed fail if the field does not exist. IIRC this was reverted at some point, because kubernetes was relying on the incorrect behavior, but I can't find the relevant issue or PR now. I was hoping that maybe v5 has the correct `replace`

[2021-10-20 18:47] #142 closed

[2021-10-21 04:52] zhangguanzhang commented on #138
use the latest code, seemd ok
[code]

[2021-10-21 05:39] zqzten opened #149 "Publish a bugfix release for v4"
As PR #146 get merged, could you also publish a bugfix release for v4 (v4.12.0 or v4.11.1)? so that our projects using json-patch v4 can catch up the fix.

[2021-10-21 16:42] #149 closed, assigned to nobody

[2021-10-29 15:13] balcsida opened #150 "Option to keep ordering when using the CLI"
Hey folks,

Thanks for this amazing implementation of json-patch in Go! 🙇
My question is related to #128: would it be possible to keep the ordering of the input file while using the CLI?

[2021-11-05 14:49] vincepri opened #151 "Consider using json-iterator"
Hi @evanphx, would you be open to a PR that introduces both benchmarks for the main exposed functions and replaces `encoding/json` with a compatible `json-iterator/go` encoder/decoder?

Some additional context: we're using the `json-patch` library extensively in Cluster API https://github.com/kubernetes-sigs/cluster-api/blob/8ab546aa392cb5d82da33a76f1f860bdbc40e05b/controllers/topology/internal/me

[2021-11-05 15:25] vincepri commented on #151
/cc @sbueringer

[2021-11-05 15:51] sbueringer commented on #151
I would give it a try.

[2021-11-10 15:58] vincepri commented on #151
Closing this for now, Kubernetes is moving away from json-iterator and the project seems a bit unmaintained

[2021-11-10 15:58] #151 closed

[2021-12-10 23:45] JeffreyFalgout opened #153 "Support generating patches in the CLI"
The existing CLI is pretty limited in that it can only apply pre-existing patches to a document. Would it be possible to make the CLI have an option to also generate patches between two documents?

I'm happy to take a crack at this. If this isn't something you want in this repository, I'm happy to make my own CLI that uses this library to accomplish this.

[2021-12-11 05:41] JeffreyFalgout commented on #150
I'm pretty sure this was fixed in #128, but I do notice that this was only fixed in the v5/ version of the code (see #130).

@mrpotes @evanphx should this also be addressed in the not-v5/ version of the code? I guess maybe a higher level question: Why is there a separate v5/ directory?

[2022-01-11 02:46] chmorgan opened #155 "Reason for skipping operations on empty documents?"
This one had me stuck for an hour or two or so so figured I'd raise it here.

v5 skips operating on documents of 0 length, there is a test for it as well to confirm that operations on "" result in "".

I reviewed https://datatracker.ietf.org/doc/html/rfc6902, and the docs for json-patch and it isn't clear why operations on an empty document wouldn't be considered valid.

I'd argue that "" is effec

[2022-01-11 11:35] kszafran commented on #136
I'm not 100% sure I understood your idea, but I think I'd be interested in something similar. I'd like to return 400 or 422 from by API, depending on whether the JSON Patch itself is invalid (400) or it fails to apply (422). Currently I'm doing:
[code]
But I agree it's not pretty.

[2022-01-11 12:32] kszafran commented on #119
I have checked this since my last comment and v5 behaves correctly.

[2022-01-11 12:55] kszafran commented on #134
@tymonx Will you be working on this? If not, I could contribute a PR myself, since this would also be useful to me.

[2022-01-11 13:09] kszafran commented on #86
So, do we agree that paths like `some/field` are invalid? It seems that with the current implementation, such a patch would fail saying that `some/field` is missing (so we wouldn't break the aforementioned Azure AD patch, because it already does not work). So except for `""`, all paths should start with `/`.

If https://github.com/evanphx/json-patch/issues/134 is implemented first, this validation

[2022-01-11 13:22] kszafran commented on #134
@evanphx I can work on this, but first I'd like to double check that you're OK with this quite fundamental change. Besides the change in behavior that I mentioned in my previous comment, this is an obvious breaking change for anyone who was constructing `jsonpatch.Patch` objects directly instead of unmarshaling them (e.g. `jsonpatch.Patch{jsonpatch.Operation{"path": ...}}`).

Perhaps this is a goo

[2022-01-11 13:33] kszafran commented on #155
This is strange. I would have expected `""` to cause an error, since it's not a valid JSON. I don't think `""` should be treated as `{}`. That could also result in surprising behavior. In my opinion `""` should return an error, and if someone wants to treat is as an empty JSON they can just add `if input == "" { input = "{}" }` before calling `Apply`.

But since there's a test for it, maybe there

[2022-01-11 18:03] chmorgan commented on #155
Yeah there is a test and inside of ApplyWithIndenting or something there is
a if len(doc) == 0 check that returns early.

And to be clear by “” I mean an empty string, not a string with a single
space in it.

On Tue, Jan 11, 2022 at 8:33 AM kszafran ***@***.***> wrote:

[2022-01-11 18:11] evanphx commented on #134
@kszafran You make a very good point about it breaking anyone that constructs a patch by hand. We can't break that.

Given the large nature of the change, I feel like it needs to be justified in terms of improved functionality or bugs fixed. It's not possible to justify a v6 just on code cleanup.

[2022-01-11 18:13] evanphx commented on #136
We can and should make it easier to detect this issue, totally agree.

[2022-01-12 15:41] 2785 commented on #136
I actually can't remember what I was on about either. It seems like I was asking for the
[code]

exported errors, which already exist in a commit from 2 years ago. Odd :thinking:

[2022-01-15 21:49] chmorgan opened #156 "Is there a way to use json-patch to build jsonpatches?"
I'm trying to build a json patch at runtime and created a struct for an operation (op, path, value) but was thinking maybe there was some way to build patches that might have been developed as a part of the library? I looked in patch.go etc and didn't spot anything though. Maybe its not trivial given that you could have tons of nesting etc?

[2022-01-15 22:27] kayoub5 commented on #156
@chmorgan consider using https://github.com/wbish/jsondiffpatch.net

[2022-01-16 01:33] chmorgan commented on #156
@kayoub5 that could be an option but I'm using golang server side (and could use this for tests), and TypeScript client side

[2022-01-16 11:39] timbunce commented on #156
I've been a happy user of https://github.com/wI2L/jsondiff to generate JSON Patches on a Golang server.

[2022-01-16 14:54] chmorgan commented on #155
@evanphx thoughts on how to handle this? I can open a PR with whatever you think is a reasonable change (if you think a change should be made)

[2022-01-31 09:45] zysimplelife opened #157 "provide a way to change json library"
Hi

As we probable known, golang json library has no really good performance.   as we have tested, it is actually bad performance when come to big or large document.  in order to mitigate the problem, some library has provided improvement and looks promising.  for example  https://github.com/goccy/go-json)
However, it is not possible to replace json library in this project, without changing the co

[2022-01-31 19:40] evanphx commented on #157
Providing the ability to change the package isn't a great API, if we need to change the base package to something other than  `encoding/json`, i'm open to it. If you want to submit a PR that does that with benchmarking to show the differences, please do!

As for an decode function, I suppose you want this so that it uses a different package for decoding and then passes in the decoded result? I'd p

[2022-02-09 22:10] SyntaxNode opened #159 "Performance Degradation Starting In v5.2.0"
Greetings From https://github.com/prebid/prebid-server

We use json-patch in our project and observed a performance difference when we upgraded to v5 from an older version. This is a high scale application which is particularly sensitive to memory allocations. I turned the `MergePatch` example in the readme to a benchmark test and found the following results on the 5.2.0 and 5.1.0 version branches

[2022-02-16 21:35] delaneyj opened #160 "Invalid spec implementation"
[Specifically the handling of top level patches](https://datatracker.ietf.org/doc/html/rfc7386#appendix-A)

|  ORIGINAL |        PATCH |            RESULT |
|--------------|-----------|------------|
| {"a":"foo"} |    null |            null |
| {"a":"foo"} | "bar" | "bar" |

I noticed in fact that you had commented out the test cases from the RFC and made extra tests to view these as errors.  PR t

[2022-02-17 09:19] muse254 opened #162 "RFC Link in README.md returns a 404 error"
jsonpatch is a library which provides functionality for both applying [RFC6902 JSON patches](http://tools.ietf.org/html/rfc6902) against documents, as well as for calculating & applying [RFC7396 JSON merge patches](https://tools.ietf.org/html/rfc7396).

The first link in the preceding sentence redirects to a 404 page.

[2022-02-18 14:27] balcsida commented on #150
Sorry, I only tried with the CLI and it seems that it modified the order

[2022-02-18 14:47] balcsida commented on #150
Ohh, I see, after installing the CLI with the following command, it worked as expected:
[code]

This can be used as a workaround until #154 is merged.

Many-many thanks @JeffreyFalgout for tackling this down :bow:

[2022-02-25 13:58] #162 closed